/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full viewport height */
  text-align: center;
  background: linear-gradient(-45deg, #000000, #1a1a1a, #960000, #660000);
  background-size: 400% 400%;
  animation: gradientShift 12s ease infinite;
}

main {
  flex: 1;  /* takes remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px;
}

@keyframes gradientShift {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

/* Logo styling */
.logo {
  max-width: 180px;       
  height: auto;
  margin-bottom: 18px;
  border-radius: 20px;
}

/* Headline */
h1 {
  font-size: 2.7rem;
  font-weight: 600;
  margin-bottom: 0.9rem;
  letter-spacing: 1px;
  color: #fff;
}

/* Paragraph */
p {
  font-size: 1rem;
  margin-bottom: 1.8rem;
  color: #f2f2f2;
}

/* Discord button */
.discord-btn {
  display: inline-block;
  padding: 10px 25px;
  background: #b12a25;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 400;
  border-radius: 50px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.discord-btn:hover {
  transform: translateY(-3px) scale(1.05);
  
}

/* Footer */

footer {
  width: 100%;         
  font-size: 0.8rem;
  color: #ccc;
  text-align: center;  
  padding: 10px 0;
}

footer p {
  width: 100%;          
  margin: 0 auto;       
  color: #ccc;
  font-size: 0.9rem;    
}
